<script>
!function(e){if(!window.pintrk){window.pintrk=function(){window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var n=window.pintrk;n.queue=[],n.version="3.0";var t=document.createElement("script");t.async=!0,t.src=e;var r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '{{ pixel_id|escapejs }}');
pintrk('track', 'pagevisit');
document.addEventListener('pradize:pixels', function (e) {
  var d = (e && e.detail) || {};
  if (d.event !== 'add_to_cart') { return; }
  var p = d.payload || {};
  pintrk('track', 'addtocart', {
    value: p.value,
    currency: p.currency,
    line_items: (p.content_ids || []).map(function (id) { return {product_id: id}; })
  });
});
</script>
