[Unit]
Description=Healybio EN
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/websiteempire/healybio/deploy/en
ExecStart=/opt/websiteempire/healybio/StaticWebsiteServe --port 8090 --lang en --images-db /opt/websiteempire/healybio/deploy/images.db
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
