[Unit]
Description=Healybio AR
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/websiteempire/healybio/deploy/ar
ExecStart=/opt/websiteempire/healybio/StaticWebsiteServe --port 8101 --lang ar --images-db /opt/websiteempire/healybio/deploy/images.db
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
