[Unit]
Description=Healybio JA
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/websiteempire/healybio/deploy/ja
ExecStart=/opt/websiteempire/healybio/StaticWebsiteServe --port 8095 --lang ja --images-db /opt/websiteempire/healybio/deploy/images.db
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
