[Unit]
Description=Healybio PL
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/websiteempire/healybio/deploy/pl
ExecStart=/opt/websiteempire/healybio/StaticWebsiteServe --port 8099 --lang pl --images-db /opt/websiteempire/healybio/deploy/images.db
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
