[Unit]
Description=Healybio TR
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/websiteempire/healybio/deploy/tr
ExecStart=/opt/websiteempire/healybio/StaticWebsiteServe --port 8100 --lang tr --images-db /opt/websiteempire/healybio/deploy/images.db
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
