[Unit]
Description=Healybio KO
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/websiteempire/healybio/deploy/ko
ExecStart=/opt/websiteempire/healybio/StaticWebsiteServe --port 8092 --lang ko --images-db /opt/websiteempire/healybio/deploy/images.db
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
