{% extends "admin/delete_confirmation.html" %}
{% load i18n %}

{% block content %}
{% if has_nulled_refs %}
<div class="errornote" style="margin-bottom: 1em; background: #fff3cd; border-color: #ffc107; color: #664d03;">
  <h3 style="margin-top: 0; color: #664d03;">
    &#9888; {% trans "Warning: branch references will be cleared" %}
  </h3>
  <p>
    {% trans "Deleting this step will set the following branch references to NULL (the branch will become a terminal end-point):" %}
  </p>

  {% if nulled_accept_refs %}
  <p style="margin: 0.5em 0 0.2em;"><strong>{% trans "Accepting branch from:" %}</strong></p>
  <ul style="margin: 0 0 0.5em 1.5em; padding: 0;">
    {% for ref_step in nulled_accept_refs %}
    <li>
      {% trans "Step" %} #{{ ref_step.pk }}
      ({% trans "campaign" %}: {{ ref_step.campaign.name }})
      &mdash;
      {% blocktrans with pk=ref_step.pk %}accept_next_step on step #{{ pk }} will be cleared{% endblocktrans %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if nulled_decline_refs %}
  <p style="margin: 0.5em 0 0.2em;"><strong>{% trans "Declining branch from:" %}</strong></p>
  <ul style="margin: 0 0 0.5em 1.5em; padding: 0;">
    {% for ref_step in nulled_decline_refs %}
    <li>
      {% trans "Step" %} #{{ ref_step.pk }}
      ({% trans "campaign" %}: {{ ref_step.campaign.name }})
      &mdash;
      {% blocktrans with pk=ref_step.pk %}decline_next_step on step #{{ pk }} will be cleared{% endblocktrans %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <p style="margin-top: 0.5em;">
    {% trans "You may want to re-wire those branches after deletion." %}
  </p>
</div>
{% endif %}

{{ block.super }}
{% endblock %}
